html{
    padding: 25px 1px;
    background-color: white;
    font-family: sans-serif;
    
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-size: 1.6rem;
    padding: 10px 2px;
    background-color: rgb(237, 237, 239);
    color: #333;
}

/* Header section */

header{
    text-align: center;
    max-width: 900px(15vw);
    margin: 0 auto;
    padding: 18px 0px 5px;
    
}

header h1{
    font-weight: 700;
    font-size: 40px;
}

header p{
    font-size: 14px;
}

.margin-adjust{
    margin: 50px auto 30px;
}

/*  Image */

figure{

    width: 98.5%;
    margin: 0 auto;
    padding: 10px 0px;   
    background-color: white;
    text-align: center;
}

img{
    max-width:60%;
    height: auto;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    
}

figcaption{
    padding: 5px;
    text-align:center; 
}

/* Tribute Section */

h3{
    text-align: center;
    width: 50%;
    border: 10px solid;
}

#list-container{
    width: 40%;
    margin: 0 auto;
}

#tribute ul{
    border: 10px solid;
    list-style-position: inside;
}

#tribute li{   
    margin: 20px auto;    
}

/* End quote */

#end-quote{  
    font-size: 15px;
    font-weight: 100;
    width: 40%;
}

/* Further Reading */

#further-reading{
    text-align: center;
    width: 80%;
}
